<html>
    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
            visibility: hidden;
        }
        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
        </style>
    <head> <title> Effexxx </title> </head>
    <body>

        <form method="post">
            <input type="submit" name="action" value="BW">
            <input type="submit" name="action" value="Color">
        </form>



        <div id="container">
            <video autoplay="true" id="videoElement">
            </video>
            <canvas id="canvasElement"></canvas>
            <img id="imageElement" src="{{ url_for('video_feed') }}">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>